.page-footer {
  background-color: #24292e;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  padding: 20px 0;
  .footer-text {
    margin-bottom: 20px;
  }
  .footer-github-icon {
    width: 36px;
  }
}
