.page-header {
  .appbar-nav-buttons-container {
    display: none;
    margin-top: 7px;
  }

  @media only screen and (min-width: 600px) {
    .appbar-nav-buttons-container {
      display: inherit;
    }
    .appbar-nav-icon-menu {
      display: none !important;
    }
  }
}
